#menu .tree-cell {
        -fx-background-color: #1172B9 ;
        -fx-text-fill: #ffffff ;
}
.exitBtn{
        -fx-background-color: transparent;
        -fx-border: none;
        -fx-text-fill: white;
        -fx-cursor: pointer;
}